*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #3496F6,#2CADD4);
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #0d2e2da6;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 2px #113f239a;
    color: #34F681;
}

h2{
    color: #2CD49F;
}

p{
    text-align: justify;
}
