* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(128, 128, 128, 0.582);
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    font-size: 1.5vw;
    background-color: white;
}

th {
    background-color: gray;
}

td {
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 39px;
}

a {
    text-decoration: none;
    color: blue;
}

caption {
    font-size: 2em;
    padding: 5px;
}

.table-container {
    overflow-x: auto;
    min-width: 300px;
}
