* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(128, 128, 128, 0.582);
}

table {
    border-collapse: collapse;
    width: 100%; /* Ocupar toda a largura disponível */
    max-width: 100%; /* Adicionado para garantir que a tabela não exceda a largura da tela */
}

td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px; /* Reduzido o padding para evitar que a tabela fique muito ampla */
    font-size: 1em; /* Tamanho da fonte ajustado para dispositivos móveis */
    background-color: white;
}

th {
    background-color: gray;
}

td {
    text-decoration: none;
    white-space: nowrap; /* Impede que o conteúdo da célula seja quebrado */
    overflow: hidden; /* Evita que o conteúdo seja cortado */
    text-overflow: ellipsis; /* Mostra reticências quando o conteúdo é cortado */
}

a {
    text-decoration: none;
    color: blue;
}

caption {
    font-size: 2em; /* Tamanho da legenda ajustado para dispositivos móveis */
    padding: 5px; /* Reduzido o padding da legenda */
}
