*{
    margin: 0;

}

h1{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.582);
    padding: 10px;
    margin: 0;
}

table{
    width: 750
    0px;
    border-collapse: collapse;
}

td, th{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;

}

thead{
    background-color: gray;
}

td{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: blue;
}