*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color:  rgba(128, 128, 128, 0.582);
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: white;
    font-size: 1.5em;
}

th{
    background-color: gray;
}

td{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: blue;
}

caption{
    font-size: 4em;
    padding: 10px;
}