body{
    height: 100vh;
    background: black url(img/wallpaper002.jpg) center center/cover no-repeat fixed;
    margin-top: 100px;
    
}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid red;
    border-radius: 15px;
    background-position: 100px;
}